@import url(https://fonts.googleapis.com/css?family=Raleway:400,500);

$font: 'Raleway', sans-serif;

body {
  font-family: $font;
  -webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
  -webkit-text-size-adjust: 100%;
  color: #fff;
}
video#bgvid {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  background-size: cover;
  opacity: .6;
}
h1{
  small{
    color: #121212;
  }
}
.ld1{
  background: none;
  border: none;
  height: 100%;
  line-height: 50%;
  font-size: 3.0em;
  width: 100%;
}
.ld1:hover{
  color: #117700;
}

.ld2{
  background: none;
  border: none;
  height: 100%;
  line-height: 50%;
  font-size: 3.0em;
  width: 100%;
}
.ld2:hover{
  color: #ff0000;
}
.vcenter {
  display: inline-block;
  vertical-align: middle;
  float: none;
}
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }
.midPage{
  background-color: rgba(0,0,0,.5);
  padding-bottom: 10px;
  border-radius: 5px;
}
.modalFont{
  color: #121212;
  font-family: $font;

}
.modalPage{
  overflow: scroll;
  max-height:85%;
}
#mapholder img{
  width: 100%;

}

.angular-google-map-container {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
.angular-google-map-container { height: 400px; }
.modalList li{  text-decoration: none;  }
.content{
  color: #000;
  height: 100%;
  border-radius: 5px;
}
.container{
  position: relative;
  bottom: 0;
  height: 100%;
}
.homeRow{
  margin-top: 5px;
  border-radius: 5px;
  background-color: rgba(253, 253, 253, 1);
  color: #000;
  font-family: $font;
  text-align: center;
  font-size: 1.2em;
  padding-top: 30px;
  padding-bottom: 30px;
  i{
    font-size: 2.0em;
  }

}
footer{
  bottom: 0%;
  left: 0%;
}
.textHome {
  line-height: 2.0em;
  text-align: left;
  font-family: $font;
  font-weight: lighter;
}
.jumbotron{
  background: none;
  color: #fff;
  padding-top: 0px;
}
.jumbotron input{
  border-radius: 5px;
  background: #FFFFFF;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
  -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
  -webkit-box-shadow:  0px 0px 15px rgba(0, 0, 0, 0.22);
}

.paddingRight{
  padding-right: 15px;
}
#yelpImage {
  background-size: cover;
  height: 400px;
  filter: blur(5px);
  z-index: -9999;
  margin: -5px -10px -10px -5px;
}
textarea {
  resize: vertical;
}
blockquote{
  background-color: rgba(0,0,0,.5);
  color: #fff;
}
.border {
  box-shadow: 0 0 0 8px grey inset;
  overflow: hidden;
  border-radius: 5px;
}
.pull-left{
  font-size: 14px;
  vertical-align: middle;
  top: 50%;
  color: #000;
}
.border span{
  bottom: 5%;
  left: 5%;
  z-index: 1;
  position:absolute;
  background-color: black;
  color: #fff;
  display: inline;
  -webkit-filter: blur(0px);
  -moz-filter: blur(0px);
  -o-filter: blur(0px);
  -ms-filter: blur(0px);
  filter: blur(0px);
  font-family: $font;
  font-size: 18px;
}
#name{
  font-size: 24px;
}
.angular-google-map-container { height: 400px; }
