<div ng-controller="MainCtrl">


  <div ng-hide="authData.uid">
      <h3>Sign Up!</h3>
      <p>
        <label>Email</label>
        <input type="email" ng-model="register.email" required>
        </p>

        <p>
          <label>Password</label>
          <input type="password" ng-model="register.password" required>
        </p>

        <p>
          <button type="button" ng-click="signup()">Sign Up</button>
        </p>
    </div>
  <div ng-hide="authData.uid">
    <h3>Login!</h3>
    <p>
      <label>Email</label>
      <input type="email" ng-model="login.email" required>
    </p>

    <p>
      <label>Password</label>
      <input type="password" ng-model="login.password" required>
    </p>

    <p>
      <button type="button" ng-click="login()">Sign Up</button>
    </p>
  </div>
  <div ng-show="authData.uid">
      <div class="row">
        <div class="col-md-12">
        <h3>Welcome back {{authData.password.email}}</h3>
          <div class="input-group">
            <span class="input-group-addon" id="sizing-addon1">Search:</span>
            <input type="text" class="form-control" aria-describedby="sizing-addon1" ng-model="term" required>
            <span class="input-group-btn">
            <button class="btn btn-default" ng-click="search()" type="button">Find!</button>
          </span>
          </div>
         </div>
      </div>

    <p></p>

    <div class="row">
      <div ng-show="loading" ng-hide="loadingFalse && businesses"><h4>Loading...</h4></div>
      <div class="col-md-4"></div>
      <div ng-repeat="x in businesses track by $index">
      <div class="col-md-4" ng-if="business_index == $index" ng-swipe-left="like($index)" ng-swipe-right="dislike($index)">
        <img width="100%"  src="{{x.image_url}}">
        {{x.name}}
        {{x.display_phone}}
        </div>
      </div>
      <div class="col-md-4"></div>
    </div>
  </div>
</div>
